html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    cursor: none;
}

#container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: url(background_city.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#score_help {
    text-align: center;
    font-size: 25px;
    background-color: #eaeaea;
}

/*
#branch {
    position: absolute;
    height: 3%;
    width: 100%;
    background-color: #7b2e00;
    top: 23%;
}
*/

.ufo {
    position: absolute;
    height: 15%;
    width: 8%; 
    top: 10%;
    background: url('ufo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;
}

#ufo1 {
    left: 20%;
}

#ufo2 {
    left: 40%;
}

#ufo3 {
    left: 60%;
}

#ufo4 {
    left: 80%;
}

.bullet {
    position: absolute;
    top: 18%;
    height: 5%;
    width: 2%;
    background: url('laserBullet.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 99;
}

#bullet1 {
    left: calc(20% + 8%/2 - 2%/2);
}

#bullet2 {
    left: calc(40% + 8%/2 - 2%/2);
}

#bullet3 {
    left: calc(60% + 8%/2 - 2%/2);
}

#bullet4 {
    left: calc(80% + 8%/2 - 2%/2);
}

.burst {
    display: none;
    position: absolute;
    bottom: 50px;
    height: 7%;
    width: 10%;
    background: url('laserBlue_groundBurst.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 11;
}

#burst1 {
    left: calc(20% + 8%/2 - 7%/2);
}

#burst2 {
    left: calc(40% + 8%/2 - 7%/2);
}

#burst3 {
    left: calc(60% + 8%/2 - 7%/2);
}

#burst4 {
    left: calc(80% + 8%/2 - 7%/2);
}

#floor {
    position: absolute;
    height: 7%;
    width: 100%;
    bottom: 0;
    z-index: 10;
}

#hero {
    height: 120px;
    width: 120px;
    position: absolute;
    bottom: 8%;
    background: url('shieldHero.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    z-index: 11;
}

#girl{
    height: 90px;
    width: 60px;
    position: absolute;
    bottom: 8%;
    background-image: url('hero_girl_idle.png');
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    z-index: 10;
}

#label1 {
    position: absolute;
    width: 100%;
    font-weight: bold;
    color: #272727;
    font-size: 18px;
    top: -50%;
}

#score_1 {
    position: absolute;
    width: 100%;
    top: 40%;
    color: white;
    font-size: 30px;
    text-align: center;
}

#restart {
    border: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: fuchsia;
    color: white;
    top: 45%;
    font-size: 35px;
    display: none;  /* hide terlebih dahulu */
    cursor: pointer;
}